div.navbar.navbar-fixed-top
  div.navbar-inner
    div.container
      a.brand= title
      div.nav-collapse.collapse
        ul.nav
          li
            a= 'New Flow'
          li
            a= 'Load Flow'
          li
            a= 'Save Flow'
