div#pane {
    width: 100%;
    height: 90%;
    border: 1px solid #CCC;

    .item {
        position: absolute;
        border: 1px solid #CCC;
        border-radius: 3px;
        box-shadow: 2px 2px 2px #AAA;
    }
    .server {
        padding: 5px;
        width: 300px;
        div.body div.fluentds {
            border-top: 1px solid #CCC;
            margin: 10px 0 0 0;
            padding: 10px 0 0 0;
        }
    }
    .fluentd {
        padding: 5px;
        width: 290px;
        div.body div.plugins {
            border-top: 1px solid #CCC;
            margin: 10px 0 0 0;
            padding: 10px 0 0 0;
            width: 280px;
        }
    }
    .match {
        background: #CCC;
        width: 200px;
        .config {
            table tr {
                th {
                    text-align: right;
                }
                td {
                    text-align: left;
                }
            }
        }
    }
    .source {
    }
}
div.modal {
    .required {
        color: red;
    }
}
div.template {
    display: none;
}