div#pane {
    width: 100%;
    height: 90%;
    border: 1px solid #CCC;

    .item {
        position: absolute;
        border: 1px solid #CCC;
        border-radius: 3px;
        box-shadow: 2px 2px 2px #AAA;
    }
    .server {
    }
    .fluentd {
    }
    .match {
        background: #CCC;
        width: 200px
    }
    .source {
    }
}
div.template {
    display: none;
}